@charset "UTF-8";

 /*
    em HTML é id    =  em CSS é  #
    em HTML é Class =  em CSS é  .
    */

body {
    background-color: rgb(98, 207, 98);
    font-family: Arial, Helvetica, sans-serif;
}
   
h1 {
        color: #1e492f;
}

h1#principal {
    text-align: center;
    background-color: #55bb88;
    color: white;
}   

h2 {
    color: #3c805e;
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}
.avancado {
    color: #ff0800;
}